Library/shadercompiler-UnityShaderCompiler0.log
Library/shadercompiler-UnityShaderCompiler1.log
Library/shadercompiler-UnityShaderCompiler2.log
Library/shadercompiler-UnityShaderCompiler3.log
Library/shadercompiler-UnityShaderCompiler4.log
Library/shadercompiler-UnityShaderCompiler5.log
Library/shadercompiler-UnityShaderCompiler6.log
Library/shadercompiler-UnityShaderCompiler7.log
obj/Debug/Assembly-CSharp-Editor-firstpass.dll.mdb
obj/Debug/Assembly-CSharp-Editor.csproj.FilesWrittenAbsolute.txt
obj/Debug/Assembly-CSharp-Editor.dll
obj/Debug/Assembly-CSharp-Editor.dll.mdb
